
@mixin base_component{
    background-color: antiquewhite;
    color: blueviolet;
    border-style: ridge;
    border-color:#000;
    border-width: 1px;
 
}

.component{
    @include base_component;
}

.component-line{

    display: inline;
}

